# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d2fe99c79980e90f749520f7df8f7368"
name = "App MM - Gestion Pros"
application_url = "https://mm-gestion-pros-sante.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks/orders/create"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,write_customers,read_discounts,write_discounts,write_metaobject_definitions,read_metaobjects,write_metaobjects,read_products,write_products,read_locales,read_orders,read_store_credit_accounts,write_store_credit_account_transactions"


[auth]
redirect_urls = [ "https://mm-gestion-pros-sante.onrender.com/auth/callback,https://mm-gestion-pros-sante.onrender.com/auth/shopify/callback" ]
